

.header{
    position:fixed;
    top:0;
    left:0;
    background-color:#ff9100;
    width:100%;
    display:flex;
    justify-content:space-between;
    font-family:arial;
  }
  
  @media (max-width:350px) {
    .header{
      position:static;
    }
  }
  
  .logo{
    width:auto;
    height:3em;
    padding:10px 10px 5px 30px;
  }
  
  .product{
    display:flex;
  }
  
  .product-name{
    
    padding:20px;
    margin:5px;
  /*   background-color:#f5a142; */
    font-weight:bold;
  }
  
  .nav-bar{
    display:flex;
    padding-right:10px;
  }
  
  .nav-link-element{
    padding:0px 10px 0px 10px;
    margin:5px;
    font-weight:bold;
    list-style-type: none;
    
  /*   background-color:#f5a142; */
  }
  .nav-link{
    
  }
  
  .main{
    left:0;
    top:0;
    width:100%;
    font-family:arial;
    padding-top:70px;
    text-align:center;
    background-color:#ffce96;
  }
  
  .newsletter-subscribe{
  }
  
  .email-field{
    margin:10px;
  }
  
  .subscribe-button{
    height:3em;
    background-color:#ff8336;
    font-weight:bold;
    
  }
  
  .product-description{
    padding-top:50px;
    padding-bottom:50px;
    display:grid;
    grid-template-rows:6em 6em 6em;
    grid-template-columns:25% 10% 40% 25%;
    grid-gap:10px;
  }
  
  .thumbnail-pic{
    with:auto;
    height:5em;
  }
  
  #thumbnail1{
    grid-area:1/2/2/3;
    
  }
  
  .property1{
    grid-area:1/3/2/4;
  }
  
  h3{
    margin:0px;
  }
  
  h4{
    margin:0px;
  }
  
  #thumbnail2{
    grid-area:2/2/3/3;
  }
  
  #property2{
    grid-area:2/3/3/4;
  }
  
  #thumbnail3{
    grid-area:3/2/4/3;
  }
  
  #property3{
    grid-area:3/3/4/4;
  }
  
  .pricing{
    display:flex;
    justify-content:center;
  }
  
  .option{
    max-width:20%;
    padding:15px;
    border-style: solid;
    border-width: 2px;
    border-color:black;
    margin:10px;
    display:inline-block;
    vertical-align:top;
    background: linear-gradient(#ff9100 0%, #ff9100 30%, #ffce96 30%, #ffce96 100%)
  }
  
  
  .footer{
    top-margin:75px;
    background-color:#ff9100;
    width:75%;
   margin:auto;
    height:5em;
  }
  
  .footer-content{
    text-align:right;
    padding-right:30px;
    padding-top:15px;
  }
  
  a{
    color:black;
    text-decoration:none;
  }
  
  
  
  